body{
    font-family: Arial, sans-serif;
}
.bg_black{
    background-color: black;
}
.bg_white{
    background-color: white;
}
.bg_blue{
    background-color: #161C3B;
}
.bg_blue_light{
   background-color: #00439C; 
}
.bg_grey_dark{
    background-color: #1F1F1F;
}
.bg_grey_light{
    background-color:#BEBCBB;
}
.logo_play{

    filter: invert(1);
}
.btn.btn-secondary.btn_login{
    border-radius: 25px;
    border: 4px  double white;
    background-color: #363636;
}
.sony_logo{
    width: 100px;
}
.container-fluid.hero_image{
    background: url(../img_playstation/img/jumbo-bg.png) no-repeat center top;
    width: 100vw;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.square{
    height: 300px;
    width: 200px;
    background-color: violet;
}
.content_hero{
    padding-top: 500px;
}
.logo_returnal{
    width: 50%;
}
