body{
    font-family: Arial, sans-serif;
}
/* color background */
.bg_black{
    background-color: black;
}
.bg_white{
    background-color: white;
}
.bg_blue{
    background-color: #161C3B;
}
.bg_blue_light{
   background-color: #00439C; 
}
.bg_grey_dark{
    background-color: #1F1F1F;
}
.bg_grey_light{
    background-color:#BEBCBB;
}

.btn.btn-secondary.btn_login{
    border-radius: 25px;
    border: 4px  double white;
    background-color: #363636;
}

.btn.btn-danger#btn_hero,
.btn.btn-primary#btn_present_play{
    border-radius: 20px !important;

}

.sony_logo{
    width: 100px;
}
.container-fluid.hero_image{
    background: url(../img_playstation/img/jumbo-bg.png) no-repeat center top;
    width: 100vw;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content_hero{
    padding-top: 500px;
}
.logo_returnal{
    width: 50%;
}
.card#card_section_games img{
    border-radius: 25px !important;
}
.card#card_section_games.selected img{
    border-radius: 25px !important;
    border: 4px solid #00439C;
}
.title_section{
    font-size: 30px;
}
.play{
    height: 100%;
    width: 50%;
    background-image: url(../img_playstation/img/playstation-5-thumb.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(2);
}
.border_btn_b:hover {
  border: 2px solid #00439C;
}
.type_button {
    display: inline-block;
}
.card_accessori {
    min-height: 259px;
    filter: opacity(0.5);
}
.card_accessori.selected{
    border-bottom: 3px solid #00439C;
    filter: opacity(1);   
}
.card_accessori:hover {
    filter: opacity(1);
  border-bottom: 3px solid #00439C;
}
.hero_image_two_players {
  background-image: url("../img_playstation/img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  height: 700px;
  margin-top: 7.2rem;
}
.btn_play_plus{
    background-color: #D9DADC;
    border-radius: 25px;
}
@media screen and (max-width:1190px){
    .d_none{
        display: none;
    }    
}